<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @promotion.name %>
</p>

<p>
  <b>Description:</b>
  <%= @promotion.description %>
</p>

<p>
  <b>Defaultprice:</b>
  <%= @promotion.defaultPrice %>
</p>

<p>
  <b>Lowprice:</b>
  <%= @promotion.lowPrice %>
</p>

<p>
  <b>Highprice:</b>
  <%= @promotion.highPrice %>
</p>

<p>
  <b>Image:</b>
  <%= @promotion.image %>
</p>


<%= link_to 'Edit', edit_promotion_path(@promotion) %> |
<%= link_to 'Back', promotions_path %>
